#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

form,
fieldset {
  display: flex;
  flex-direction: column;
}

nav {
  margin-bottom: 2em;
}

input[type="text"] {
  padding: .5em;
}

button[type="submit"] {
  margin-top: 1em;
}

/* Search page */

main#search {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main#search form {
  max-width: 400px;
  width: 100%;
}

main#search form fieldset {
  padding: 1em;
}

table {
  margin-top: 1em;
}

td,
th {
  padding: 0.5rem 1rem;
}

/* Repository page */

main#repository {
  display: flex;
  gap: 1em;
}

main#repository header,
main#repository aside {
  padding: 1em;
}

main#repository h1 {
  margin: 0;
  word-break: break-word;
}

main#repository header {
  padding: 0;
  width: calc(70% - 2em);
}

main#repository aside {
  border: 1px solid white;
  border-radius: 15px;
  width: calc(30% - 30px);
}

main#repository h4 {
  margin: 0;
}

/* Components */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid white;
  border-right: 3px solid transparent;
  box-sizing: border-box;
}

/* Animations */

@media (prefers-reduced-motion: no-preference) {
  .fade-up {
    animation: fadeUp 0.3s ease-out forwards;
    opacity: 0;
  }

  .loader {
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile styles */

@media (max-width: 768px) {
  main#repository {
    flex-direction: column;
  }

  main#repository header,
  main#repository aside {
    width: auto;
  }

  main#repository aside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* User color schemes */

@media (prefers-color-scheme: light) {
  .loader {
    border-top: 3px solid black;
  }
}